# =========================
# Maven / Gradle
# =========================
target/
build/
out/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE (IntelliJ IDEA)
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp

# =========================
# Appium / Android
# =========================
*.apk
*.aab
*.dex
*.keystore
*.lock
*.hprof
*.emulator_console_auth_token

# =========================
# Test reports / screenshots
# =========================
screenshots/
allure-results/
surefire-reports/
AndroidTest-output/

# =========================
# Backup / temporary files
# =========================
*~
*.bak
*.swp
